extends ../layouts/default

block content
	.container: .jumbotron
		h1 WELCOME TO MY PORTFOLIO
		br
		br
		img(src='/images/profile-img.jpg').img-responsive.profile-img
		br
		br
		h2.about-me ABOUT ME
		img(src='/images/about-me.PNG').img-responsive.center