extends ../layouts/default

block content
	.container: .jumbotron
		h1 WELCOME TO MY PORTFOLIO
		br
		br
		img(src='/images/profile-img.jpg').img-responsive.profile-img
		br
		br
		h2.about-me ABOUT ME
		img(src='/images/about-me.PNG').img-responsive.center
		br
		br
		p Dan Brook is a professional digital marketer who creates and promotes digital content at Solaris Digital. Dan has achieved success with well-established companies such as Goldman Sachs, The Body Shop, Nintendo, BBC, Newsweek, and Microsoft, to name a few. After spending more than 12 years in Digital Marketing with various enterprises, Dan understands what drives businesses and how to spread brand awareness efficiently for optimum product promotion. He utilizes a brand marketing plan while working closely with clients and ensuring all work-in-progress is clarified. Dan utilizes SEO tools to rank high in search engine indexing and performs various ad-marketing campaigns to generate organic traffic back to your site. 