#header
    margin-top 30px


#footer
    margin-top 30px
    border-top 1px solid gray-lighter
    padding-top 30px
    color gray-light


.gallery-image img
    display block
    max-width 100%
    height auto
    padding-bottom: 2rem

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  padding-bottom: 1rem
}