#header
    margin-top 30px


#footer
    margin-top 30px
    border-top 1px solid gray-lighter
    padding-top 30px
    color gray-light


.gallery-image img
    display block
    max-width 100%
    height auto
    padding-bottom: 2rem

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  padding-bottom: 1rem
}

.body-background {
    background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.about-me {
    margin-left: 1.2rem;
}

.profile-img {
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}